{% load staticfiles %}
{% load static %}

<html>
    <head>
        <title>To-Do Lists</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/todo.css' %}">
    </head>
    <body>
        <div class="todo">
            <h1>Your To-Do Lists</h1>
            <p class="comment">{{ comment }}</p>
            <form method="POST">
                <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
                {% csrf_token %}
            </form>
            <table id="id_list_table">
                {% for item in items %}
                <tr><td>{{forloop.counter}}: {{ item.text }}</td></tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>